.humidity {
  margin-left: 30px;
}


/* todayクラスに適用するスタイル */
.today {
  font-size: 20px;
}
.today span {
  background-color: #FFC0CB;
  height: 28px;
  display: inline-block;
}

/* temperatureクラスに適用するスタイル */
.temperature {
  background-color: #FFD8B2;
  width: 40px;
  height: 20px;
  display: inline-block;
}

/* humidityクラスに適用するスタイル */
.humidity {
  background-color: #ADD8D6;
  width: 40px;
  height: 20px;
  display: inline-block;
}

/* img要素に適用するスタイル */
img {
  display: block;
}
