/* p要素に適用するスタイル */
p {
    display: inline-block;
    background-color: #00008B;
    color: white;
    width: 160px;
    text-align: center;
    padding: 10px 0px;
    margin-right: 20px;
    border-top: yellow dotted 5px;
    border-right: yellow ridge 10px;
    border-bottom: red ridge 10px;
    border-left: yellow solid 5px;
}